.question-container {
    padding: 2rem;
}

.question-radio {
    font-size: 1.6rem;
    margin-bottom: .8rem;
}

div.options-radio {
    font-size: 1.4rem;
}

.radio-btn-risk {
    margin-right: 1rem;
}

.option-radio {
    padding-bottom: 1rem;
}

.option-radio label {
    cursor: pointer;
}