.reg-success {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 8%;
    flex-direction: column;
    width: 32vw;
}

.tick-mark-success {
    height: 8rem;
    width: 8rem;
    margin-bottom: 3rem;
}

.black {
    color: #232021;
    font-weight: 500;
}

.text-large {
    font-size: 1.8rem;
}

.text-small {
    font-size: 1.4rem;
}

.gray {
    color: #23202180;
}

.start-investing {
    margin-top: 3rem;
}

.login-btn-success {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-top: 6rem;
    width: 15rem;
    height: 3.2rem;
    font-weight: 600;
    background: transparent linear-gradient(111deg, #DA3733 0%, #E06135 100%) 0% 0% no-repeat padding-box;

}

.btn-enabled {
    background: linear-gradient(111deg, #DA3733 0%, #E06135 100%) 0% 0% no-repeat padding-box;
}

.btn-disabled {
    background: linear-gradient(111deg, #999999 0%, #999999 100%) 0% 0% no-repeat padding-box;
    cursor: not-allowed;
}